.navbar.navbar-expand-lg.bg-custom {
background-color: #4c3782;
}

i.fa-brands.fa-instagram.fa-2xl:hover{
    color: #f5b5ce;
}

i.fa-brands.fa-linkedin.fa-2xl:hover{
    color: #f5b5ce;
}

i.fa-brands.fa-facebook.fa-2xl:hover{
    color: #f5b5ce;
}

i.fa-solid.fa-user.fa-2xl:hover{
    color: #f5b5ce;
}

button.btn.btn-custom{
    background-color: #f5b5ce;
}

/*Iniciar Sesion {
    accent-color: white;
}*/

.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}